%% -*- mode: erlang -*-

{plugins, [rebar3_auto]}.

{deps, [cowboy,
        lager,
        jsx]}.

{erl_opts, [{parse_transform, lager_transform}]}.

{pre_hooks,
 [{"(linux|darwin|solaris)",  compile,"make  elm"},
  {"(freebsd|netbsd|openbsd)",compile,"gmake elm"},
  {"win32",                   compile,"make  elm"},
  {"(linux|darwin|solaris)",  eunit,  "make  elm-test"},
  {"(freebsd|netbsd|openbsd)",eunit,  "gmake elm-test"},
  {"win32",                   eunit,  "make  elm-test"},
  {"(linux|darwin|solaris)",  clean,  "make  clean"}
 ]}.

{relx, [{release, {riichi, "0.0.1"},
         [riichi]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.
